.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

.header__logo-group {
  display: flex;
  align-items: center;
  gap: 25px;
  transition: all .5s;
}

@media (hover: hover) {
  .header__logo-group:hover {
    scale: 1.2;
  }
}

.header__logo {
  width: 49px;
}

.header__logo-text {
  text-transform: uppercase;
  font-family: var(--font-heading);
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 5px;
}

.header__nav-list {
  display: flex;
  gap: 55px;
}

.header__nav-link {
  color: var(--color-white);
  font-size: 22px;
  font-weight: 200;
  letter-spacing: 2px;
  transition: all 0.5s;
}

.header__burger-menu {
  display: none;
}


@media (hover: hover) {
  .header__nav-link:hover {
    color: var(--color-font-gold);
  }
}

.header__nav-link:active {
  color: var(--color-font-gold);
}

.header__burger {
  display: none;
}

@media(max-width: 1100px) {
  .header__container {
    height: 130px;
  }

  .header__nav {
    display: none;
  }

  .header__burger {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 32px;
    cursor: pointer;
  }

  .header__burger-line {
    height: 2px;
    background-color: var(--color-white);
    transition: all 0.5s;
  }

  .header__burger.active .header__burger-line:nth-child(1) {
    transform: rotate(45deg) translate(6px, 6px);
  }

  .header__burger.active .header__burger-line:nth-child(2) {
    opacity: 0;
  }

  .header__burger.active .header__burger-line:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
  }

  .header__burger-menu {
    display: block;
    padding-top: 35px;
    padding-left: 53px;
    height: 585px;
    width: 297px;
    position: fixed;
    top: 130px;
    left: 0;
    background-color: var(--color-bg-dark);
    z-index: 50;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    transform: translate(-150%);
  }

  .header__burger-menu.visible {
    opacity: 1;
    visibility: visible;
    transform: translate(0);
  }

  .header__burger-menu__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .header__burger-menu__link {
    width: 121px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--font-base);
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 2px;
    color: var(--color-white);
    cursor: pointer;
  }
}

@media(max-width: 768px) {
  .header__container {
    height: 110px;
  }
}

@media(max-width: 420px) {
  .header__container {
    height: 90px;
  }

  .header__logo {
    width: 29px;
  }

  .header__logo-text {
    font-size: 16px;
  }
}