.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

.header__logo-group {
  display: flex;
  align-items: center;
  gap: 25px;
  transition: all .5s;
}

@media (hover: hover) {
  .header__logo-group:hover {
    scale: 1.2;
  }
}

.header__logo {
  width: 49px;
}

.header__logo-text {
  text-transform: uppercase;
  font-family: var(--font-heading);
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 5px;
}

.header__nav-list {
  display: flex;
  gap: 55px;
}

.header__nav-link {
  color: var(--color-white);
  font-size: 22px;
  font-weight: 200;
  letter-spacing: 2px;
  transition: all 0.5s;
}

@media (hover: hover) {
  .header__nav-link:hover {
    color: var(--color-font-gold);
  }
}

.header__nav-link:active {
  color: var(--color-font-gold);
}

.header__burger {
  display: none;
}

@media(max-width: 1100px) {
  .header__container {
    height: 130px;
  }

  .header__nav {
    display: none;
  }

  .header__burger {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 32px;
  }

  .header__burger-line {
    height: 2px;
    background-color: var(--color-white)
  }
}

@media(max-width: 768px) {
  .header__container {
    height: 110px;
  }
}

@media(max-width: 420px) {
  .header__container {
    height: 90px;
  }

  .header__logo {
    width: 29px;
  }

  .header__logo-text {
    font-size: 16px;
  }
}