@import url('./header.css');
@import url('./welcome.css');

@font-face {
    font-family: 'Forum';
    src: url('../assets/fonts/Forum.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul, ul li {
	list-style: none;
}

a, a:link, a:visited  {
  text-decoration: none;
}

a:hover  {
  text-decoration: none;
}

input, button {
	font-family: inherit;
  font-size: inherit;
  box-shadow: none;
  cursor: pointer;
}

label {
	cursor: pointer;
}

:root {
  --color-bg-dark: #030303;
  --color-dark-red: #710707;
  --color-font-gold: #9d8665;
  --color-white: #FFF;

  --font-base: 'Roboto', sans-serif;
  --font-heading: 'Forum', sans-serif;
}

.body {
  font-family: var(--font-base);
  position: relative;
}

.no-scroll {
  overflow: hidden;
}

.header,
.welcome__section {
  background-color: var(--color-bg-dark);
  color: var(--color-white)
}

.container {
  max-width: 1520px;
  margin-inline: auto;
  padding-inline: 40px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 40;
  display: none;
}

.overlay.visible {
  display: block;
}

@media (max-width: 1100px) {
  .container {
    padding-inline: 20px;
  }
}